__pycache__/
.DS_Store
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.idea/
.vscode/
*.egg-info/
dist/
build/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.idea/
.vscode/
*.egg-info/
dist/
build/
.csv
.ipynb
.venv/
/.venv
